$body-bg: #FFFDFD;
$body-color: #2E294E;
$primary: #541388;
$secondary: #FFD400;
$card-height: 100%;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';